/* 992 */
@media (max-width: 1100px) {
  .first__title {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  .about__text {
    font-size: 14px;
  }

  .story__row {
    margin-bottom: 10px;
  }

  .story__title {
    font-size: 30px;
  }
}

/* 991 */

@media (max-width: 991px) {
  .form-left {
    border: none;
    display: flex;
    gap: 40px;
  }

  .form-right {
    justify-content: space-between;
  }

  .contacts-block {
    height: auto;
  }

  .contacts__fields {
    width: 50%;
  }
}

/* 576 */
@media (max-width: 767px) {
  body.noscroll {
    overflow: hidden;
  }

  .row > * {
    width: auto;
  }

  .header__row {
    flex-wrap: nowrap;
  }

  .header__menu {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 100%;
    padding: 20px 20px;
    gap: 0px;
    overflow-y: auto;
    left: 0;
    top: -200%;
    background-color: var(--background-color);
  }

  .header__burger {
    display: flex;
  }

  .header__item {
    width: 100%;
    justify-content: flex-end;
  }

  .about__pics {
    display: none;
  }

  .first__title {
    font-size: 30px;
  }

  .sample__li {
    width: 100%;
  }
}

/* 320 */
@media (max-width: 575px) {
  .first__title {
    font-size: 25px;
    margin-bottom: 15px;
    padding-top: 10px;
  }

  .first__row {
    min-height: 400px;
  }

  .form-left {
    flex-direction: column;
    gap: 0;
    margin-bottom: 15px;
  }

  .cont-subblock {
    display: flex;
    margin: 0;
  }

  .cont-text {
    line-height: inherit;
    margin-right: 10px;
  }

  .cont-text a {
    line-height: 120%;
  }

  .form-right {
    flex-direction: column;
    margin: 0;
  }

  .contacts__fields {
    width: 100%;
  }

  .contacts__input {
    margin-bottom: 20px;
  }

  .contacts__title {
    border: none;
    margin: 0;
    padding-bottom: 20px;
  }

  .catalog__li {
    width: 100%;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
  }
}
